<div class="row">
  <div class="col-12 col-lg-12 mt-4">

    <div class="post-page text-center my-4">
      <h1><%- item.title || "Untitled" %></h1>
    </div>

    <%- item.content %>

  </div>
</div>
